#usda 1.0
(
    defaultPrim = "{{ properties.dcc.asset_root }}"
    metersPerUnit = {{ usd.presets.linear_unit }}
    upAxis = "{{ usd.presets.up_axis }}"
)

over "{{ properties.dcc.asset_root }}" (
{% if usd.layers.hair -%}
    {{ '%sprepend references = [%s' | format(option.indent*1*' ', option.linesep) }}
    {%- for key, file in usd.layers.hair.iteritems() -%}
        {%- if loop.last -%}
            {{ '%s@%s@%s' | format(option.indent*2*' ', file, option.linesep) }}
        {%- else -%}
            {{ '%s@%s@,%s' | format(option.indent*2*' ', file, option.linesep) }}
        {%- endif -%}
    {%- endfor -%}
    {{ '%s]%s' | format(option.indent*1*' ', option.linesep) }}
{%- else -%}
    {{ '%sprepend references = []%s' | format(option.indent*1*' ', option.linesep) }}
{%- endif -%}
)
{
{% if usd.layers.hair -%}
    {%- for key, file in usd.layers.hair.iteritems() -%}
        {{ '%scustom string userProperties:%s = "%s"%s' | format(option.indent*1*' ', key, file, option.linesep) }}
    {%- endfor -%}
    {{ '%s' | format(option.indent*1*' ') }}
{%- else -%}
    {{ '%s' | format(option.indent*1*' ') }}
{%- endif -%}
    over "hair" (
        kind = "subcomponent"
    )
    {
        uniform token purpose = "render"
    }
}
