#usda 1.0
(
    defaultPrim = "{{ dcc.root_name }}"
    metersPerUnit = 0.01
    upAxis = "Y"
)

def "{{ dcc.root_name }}" (
    prepend references = [
        @geo/hi.usd@,
        @geo/shape.usd@,
        @geo/hair.usd@
    ]
)
{
    over "hi" (
        kind = "subcomponent"
    )
    {
        uniform token purpose = "render"
    }

    over "hair" (
        kind = "subcomponent"
    )
    {
    }

    over "shape" (
        active = false
        kind = "subcomponent"
    )
    {
    }
}
